.imgContainer {
  width: 300px;
  height: 100%;
}

.cardContainer {
  border: 2px solid var(--darkLight-color);
  border-radius: 11px;
  padding: 6px;
  width: 440px;
  cursor: auto;
}

.imgWrapper {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  cursor: pointer;
}



.cardContainer button {
    border: 1px solid var(--main-color);
    font-size: 13px;
    padding: 5px;
}

.cardContainer button:hover {
    background-color: #f00;
    color: #fff;
   
}

