.cardContainer {
  height: 400px;
}

.imgContainer {
  max-width: 300px;
  max-height: 200px;
  margin-bottom: 10px;
  overflow: hidden;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  border-radius: 11px;
  transition: all 0.5s ease-in-out;
}

.imgContainer:hover img {
  transform: scale(1.2);
}

.icon {
  font-size: 30px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: var(--main-color);

}

.icon:hover {
  background-color: var(--main-color);
  color: #fff;
}

.star {
  color : #fdcc0d;
}

@media screen and (max-width: 500px)
 {
  .imgContainer {
    margin: 0 auto;
  }
  
}