.content h1 {
  font-size: 2rem;
  font-weight: 700;
}

.content span {
  font-size: 4rem;
}

@media screen and (max-width: 480px) {
  .content {
    text-align: center;
  }

  .imgContainer {
    display: none;
  }

  .content h1 {
    font-size: 2rem;
  }
}
