.bannerWrapper {
  position: relative;
}

.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content h2 {
  font-size: 40px;
}

@media screen and (max-width: 500px) {
  .bannerContainer {
    display: none;
  }
}
